<template>
  <div class="twitter">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-12" style="border: 1px solid red">
          <TwitterSearchBox />
        </div>
        <div class="col-sm-8 col-12" style="border: 1px solid blue">
          <TwitterResultList />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import TwitterSearchBox from "@/components/TwitterSearchBox.vue";
import TwitterResultList from "@/components/TwitterResultList.vue";

export default {
  name: "TwitterView",
  components: {
    TwitterSearchBox,
    TwitterResultList,
  },
};
</script>

<style scoped lang="scss">
</style>
