<template>
  <div style="margin: 1rem">
    <div class="row" v-on:click="openPost(postList.id)">
      <div class="col-4">
        <img src="../assets/logo.png" width="50px" />
      </div>
      <div class="col-8" style="text-align: left">
        <label>{{ postList.name }}</label>
        <label>{{ content }}</label>
        <label>{{ time }}</label>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TweetCard",
  props: {
    postList: Array,
  },
  methods: {
    openPost: function (id) {
      console.log("id:", id);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"></style>
