<template>
  <div style="margin: 1rem">
    <div style="border: 1px solid" >
      <TweetCard
        v-for="list in lists"
        :key="list"
        v-bind:postList="list"
        
      />
    </div>
    <footer>
      <button type="button" class="btn btn-primary btn-block">Load More</button>
    </footer>
  </div>
</template>

<script>
import TweetCard from "@/components/TweetCard.vue";

export default {
  name: "TwitterResultList",
  components: {
    TweetCard,
  },
  data() {
    return {
      lists: [
        { id: "123456789", name: "選項 1" },
        { id: "234567890", name: "選項 2" },
        { id: "345678901", name: "選項 3" },
        { id: "345678901", name: "選項 4" },
        { id: "345678901", name: "選項 5" },
        { id: "345678901", name: "選項 6" },
        { id: "345678901", name: "選項 7" },
        { id: "345678901", name: "選項 8" },
        { id: "345678901", name: "選項 9" },
        { id: "345678901", name: "選項 10" },
        { id: "345678901", name: "選項 11" },
        { id: "345678901", name: "選項 12" },
        { id: "345678901", name: "選項 13" },
        { id: "345678901", name: "選項 14" },
        { id: "345678901", name: "選項 15" },
      ],
    };
  },
  methods: {
    openPost: function (id) {
      console.log("id:", id);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"></style>
