<template>
  <div style="margin: 1rem">
    <div class="input-group mb-3">
      <input
        v-model="searchValue"
        type="text"
        class="form-control"
        placeholder="Search KeyWords"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
    <button type="button" class="btn btn-primary btn-block" v-on:click="search">
      Search
    </button>
  </div>
</template>

<script>
export default {
  name: "TwitterSearchBox",
  data() {
    return { searchValue: "", postLists: [] };
  },
  methods: {
    search: function () {
      //call Twitter API
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
